.users-search-form {
  position: relative;
  margin: -18px 0 10px;
}
.users-search-checkbox {
  margin-left: 40px;
  label {
    white-space: nowrap;
  }
}
.users-list {
  width: 300px;
  position: absolute;
  top: 80px;
  left: 0;
}